name: Code Quality and Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  quality-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"  # Remplace par ta version exacte si besoin

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy flake8 black isort pytest

      - name: Check import order with isort
        run: isort src/ tests/ --check-only

      - name: Check code style with black
        run: black src/ tests/ --check --diff

      - name: Lint code with flake8
        run: flake8 src/

      - name: Type checking with mypy
        run: mypy src/

      - name: Run unit tests
        run: pytest -q
